<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="board-container">
        <h1>Sudoku Visualizer</h1>
        <table id="sudoku-board"></table>
        <input type="range" id="frame-slider" class="slider" min="0" max="100" value="0" step="1">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>